[*.cs]

# IDE0090: 使用 "new(...)"
dotnet_diagnostic.IDE0090.severity = silent

# IDE0017: 简化对象初始化
dotnet_diagnostic.IDE0017.severity = silent

# IDE0028: 简化集合初始化
dotnet_diagnostic.IDE0028.severity = silent
